body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("https://wallpapercave.com/wp/wp11148267.jpg") no-repeat
    center center/cover;
  background-size: cover;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.8); /* Dark overlay for readability */
}

.login-card {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: #fff;
}

.login-card h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #5e8873;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  text-align: left;
  color: #95b0a4;
  font-weight: 500;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
}

input::placeholder {
  color: #bbb;
}

button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #5e8873;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00cc77;
}

p {
  margin-top: 15px;
  color: #95b0a4;
}

a {
  color: #38ab77;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
